<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br>
    <center>
        <img src="/static/SENAI_logo.png" width="500px">
        
    </center>
    <center>
        <h1>Bem-vindo ao BLOG do SENAI</h1>
        <h2>Você está na página inicial</h2>   
        <br>
        <p>Explore nossas seções para saber mais sobre o site.</p>
        <p>Fique à vontade para navegar e ver as postagens do BLOG SENAI!</p>
     

    <%- include("../partials/footer") %>
</body>

</html>