<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>

    <%- include("../partials/posts", { posts: posts }) %>

    <%- include("../partials/footer") %>
</body>

</html>